<div class="container py-10">
    <div class="cls"><h1>SIGN UP</h1></div>
     <div class="row g-2">   
         <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
             <form  class="d-flex flex-wrap" (ngSubmit)="signup()">
                 <table class="abc" >
                     <tr><td colspan="2"><h3>PERSONAL DETAILS</h3></td></tr>
                     <tr>
                         <td><input type="text" name="fname" [(ngModel)]="fname"  placeholder="First Name" required></td>
                         <td><input type="text" name="lname"  [(ngModel)]="lname" placeholder="Last Name" required></td>
                     </tr>
                     <tr><td colspan="2"><input type="text"   name="eid"[(ngModel)]="eid" placeholder="Employee Id" width="100%" required></td></tr>
                     <tr><td colspan="2"><input type="text" name="username"  [(ngModel)]="username" placeholder="User Name" required></td></tr>
                     <tr><td colspan="2"><input type="password" name="password"  [(ngModel)]="password" placeholder="Password" required></td></tr>
                     <tr><td colspan="2"><input type="password" placeholder="Confirm Password" required></td></tr>
                     <tr><td colspan="2"><input type="text" name="designation"  [(ngModel)]="designation" placeholder="Designation" required></td></tr>
                    
                 </table>  
                 <table class="bcd">
                     <tr><td colspan="2"><h3>CONTACT DETAILS</h3></td></tr>
                     <tr><td colspan="2"><input type="text" name="state"  [(ngModel)]="state" placeholder=" State" required></td></tr>
                     <tr><td colspan="2"><input type="text"  name="region"  [(ngModel)]="region" placeholder="Region" required></td></tr>
                    
                     <tr><td colspan="2"><input type="text" name="phone"  [(ngModel)]="phone" placeholder="Phone Number" required></td></tr>
                     <tr><td colspan="2"><input type="email" name="mail"  [(ngModel)]="mail" placeholder="Email" required></td></tr>
                     <tr><td colspan="2"><input type="checkbox" required >I agree to the Terms and Conditions of this site</td></tr>
                     <tr><td colspan="2"><a routerLink="/signin">Already have an account?Sign In!</a></td></tr>
                     <tr><td colspan="2"><input type="submit" value="Register"></td></tr>
                 </table> 
             </form> 
         </div> 
     </div>
 </div>